<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <title>UltimateAuth | Modern Auth Framework for .NET</title>
    <meta name="description" content="UltimateAuth is a modern unified authentication framework for .NET - Reimagined" />
    <meta name="keywords" content="authentication, .NET auth, Blazor auth, identity framework, auth framework, users, credentials" />
    <meta name="robots" content="index, follow" />

    <meta property="og:title" content="UltimateAuth - Modern Auth Framework for .NET" />
    <meta property="og:description" content="Unify sessions, cookies and tokens with a modern authentication model for .NET." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://ultimateauth.com" />
    <meta property="og:image" content="https://ultimateauth.com/UltimateAuth-final-01.png" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="UltimateAuth" />
    <meta name="twitter:description" content="Modern unified authentication for .NET" />

    @* <ResourcePreloader /> *@
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="CodeBeam.UltimateAuth.Docs.Wasm.styles.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <link href="_content/CodeBeam.MudBlazor.Extensions/MudExtensions.min.css" rel="stylesheet" />
    <link href="_content/CodeBeam.MudBlazor.Extensions.Code/prism/prism.min.css" rel="stylesheet" />
    @* <ImportMap /> *@
    <link rel="icon" type="image/png" href="UltimateAuth-final-01.png" />
    <HeadOutlet @rendermode="InteractiveWebAssembly" />
</head>

<body>
    <Routes @rendermode="InteractiveWebAssembly" />
    <script src="_framework/blazor.web.js"></script>
    <script src="docs.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script src="_content/CodeBeam.MudBlazor.Extensions/MudExtensions.min.js"></script>
    <script src="_content/CodeBeam.MudBlazor.Extensions.Code/prism/prism.min.js"></script>
</body>

</html>
