@page "/"
@using CodeBeam.UltimateAuth.Core.Runtime
@inject IUAuthProductInfoProvider ProductInfo

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<MudText><b>@ProductInfo.Get().ProductName</b> v @ProductInfo.Get().Version</MudText>
<MudText>Client Profile: @ProductInfo.Get().ClientProfile.ToString()</MudText>
