@page "/"
@inject ISnackbar Snackbar

<div class="uauth-page d-flex align-center justify-center">
    <MudStack Class="uauth-stack">
        <UALoginForm @ref="_form" Identifier="@_username" Secret="@_password">
            <MudStack>
                <MudText Typo="Typo.h4">Welcome to UltimateAuth!</MudText>
                <MudTextField @bind-Value="@_username" Variant="Variant.Outlined" Label="Username" Immediate="true" />
                <MudPasswordField @bind-Value="@_password" Variant="Variant.Outlined" Label="Password" Immediate="true" />
                <MudButton Variant="Variant.Filled" Color="Color.Primary" ButtonType="ButtonType.Submit">Login</MudButton>
            </MudStack>
        </UALoginForm>
    </MudStack>
</div>
