@page "/"

<MudPage FullScreen="FullScreen.FullWithoutAppbar" Row="1" Column="1">
    <MudContainer MaxWidth="MaxWidth.Medium" Class="d-flex align-center justify-center">
        <MudStack Spacing="2">
            <MudText Typo="Typo.h3"><b>UltimateAuth</b></MudText>
            <MudText>The
                <span class="ua-gradient">modern unified Auth framework for .NET – Reimagined.</span>
            </MudText>
            
            <MudDivider Class="my-4" />

            <MudText Typo="Typo.subtitle2" Class="mt-4">
                UltimateAuth is an 
                <span style="color: var(--mud-palette-text-secondary)">open-source</span>
                auth framework with platform-level capabilities that unifies secure session, cookie and token based Auth, modern PKCE flows,
                <span style="color: var(--mud-palette-text-secondary)">Blazor/Maui-ready</span>
                client experiences - eliminating the complexity of traditional Auth systems while providing a clean, lightweight, extensible and developer-first architecture.
            </MudText>
        </MudStack>
    </MudContainer>
</MudPage>
