@* TODO: Optional double-submit prevention for native form submit *@
@namespace CodeBeam.UltimateAuth.Client
@using CodeBeam.UltimateAuth.Client.Options
@using Microsoft.Extensions.Options
@inject IJSRuntime JS
@inject IOptions<UAuthClientOptions> Options

<form @ref="_form" method="post" action="@ResolvedEndpoint">
    <input type="hidden" name="Identifier" value="@Identifier" />
    <input type="hidden" name="Secret" value="@Secret" autocomplete="off" />

    @ChildContent

    @if (AllowEnterKeyToSubmit)
    {
        <button type="submit" hidden aria-hidden="true"></button>
    }
</form>
